.skeleton_container{
  margin: 0.5rem 0;
}
.skeleton {
  height: 1rem;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loading {
  0% {
    background-color: var(--neutral);
  }
  100% {
    background-color: var(--base-content);
  }
}
